extends layout

block content
  div(id="wrapper")
    div(id="content")
      div(id="header")
        div.beta
          p.mini BETA-version - vissa problem kan förekomma
        div.twitter
          a(href="https://twitter.com/share", class="twitter-share-button", data-url="http://www.streamingkollen.tv", data-text="Testa dina förutsättningar för att konsumera strömmande video i din webbläsare", data-via="InfoEyevinn") Tweet 
        div.fb-share
          div.fb-like(data-href="http://www.streamingkollen.tv", data-action="like", data-layout="button_count", data-share="false")
      div.logosection
        a(href="http://www.eyevinntechnology.se", border="0")
          img.logo(src=CDN('/images/eyevinn-technology-700px-transparent.png'))
      div.titlesection
        h3 presenterar
        h1 STREAMINGKOLLEN
      div.testsection
        p Dina förutsättningar för att kunna konsumera strömmande video i din webbläsare är:
        h2(id="result") Beräknar...
        p(id="score")
          img(src=CDN('/images/ajax-loader.gif'))
        p.mini(id="improvebtn") 
          a(href="#", onclick="showImprove();") Hur kan jag få bättre förutsättningar?
        p(id="summary") 
        p.mini(id="comparebtn") 
          a(href="#", onclick="showCompare();") Jämför mitt resultat
        p.mini(id="useragent")
        table.testresult()
          tr
            td Mobil
            td(id="tMobile")
          tr
            td MSE
            td(id="tMSE")
          tr
            td EME
            td(id="tEME")
          tr
            td Flash
            td(id="tFlash")
          tr
            td NPAPI
            td(id="tNPAPI")
        p.mini(id="advanced")
    div(id="footer")
      div.disclaimer
        p Streamingkollen erbjuder endast en rekommendation och ger ingen garanti att berörda tjänster fungerar. Har du problem med någon av streaming-tjänsterna rekommenderar vi att ni hör av er till deras kundtjänst. 
        p Utgivare: Exceeds Your Expectations Vinn AB, Sköldungagatan 7, 114 27 Stockholm
    div(id="compare")
      p.center Jämför dina resultat mot några av tillgängliga streamingtjänster i Sverige
      p(class="mini center") Många tjänster erbjuder istället en app på mobilen när webbläsaren på mobilen inte stödjs
      table.comparisontable()
        tr
          th
          th Din webbläsare
          th TV4 Play
          th Viaplay
          th C More
          th SVT Play
          th Expressen TV
          th Aftonbladet TV
          th Netflix
          th Youtube
          th D Play
        tr
          td Mobil
          td.first(id="cMobile")
          td.unchecked
          td.unchecked
          td.unchecked
          td(class="checked select")
          td(class="checked select")
          td(class="checked select")
          td.unchecked
          td(class="checked select")
          td.unchecked
        tr
          td MSE
          td.first(id="cMSE")
          td.unchecked
          td(class="checked select")
          td(class="checked select")
          td(class="checked select")
          td(class="checked select")
          td(class="checked select")
          td(class="checked select")
          td(class="checked select")
          td.unchecked
        tr
          td EME
          td.first(id="cEME")
          td.unchecked
          td(class="checked select")
          td(class="checked select")
          td.unchecked
          td.unchecked
          td.unchecked
          td(class="checked select")
          td(class="checked select")
          td.unchecked
        tr
          td Flash
          td.first(id="cFlash")
          td(class="checked select")
          td.unchecked
          td(class="checked select")
          td(class="checked select")
          td(class="checked select")
          td(class="checked select")
          td(class="checked select")
          td(class="checked select")
          td(class="checked select")
        tr
          td NPAPI
          td.first(id="cNPAPI")
          td(class="checked select")
          td(class="checked select")
          td(class="checked select")
          td.unchecked
          td.unchecked
          td.unchecked
          td(class="checked select")
          td(class="checked select")
          td.unchecked
      p(class="mini center") Med reservation för eventuella fel.
      p.center 
        a(href="#", onclick="closeCompare();") Stäng fönster
    div(id="improve")
      h2.center Hur får jag bättre förutsättningar?
      p.center(id="score2")
      p.center(id="howto")
      p.center
        a(href="#", onclick="closeImprove();") Stäng fönster
    video(height=0, width=0, id="test_video")
    script(type='text/javascript', src=CDN('/javascripts/jquery-1.7.2.min.js'))
    script(type='text/javascript', src=CDN('/javascripts/swfobject.js'))
    script(type='text/javascript', src=CDN('/javascripts/browsertest.js'))
    script(type='text/javascript').
      function showCompare() {
        $("#compare").css("display", "block");
      }
      function closeCompare() {
        $("#compare").css("display", "none");
      }
      function showImprove() {
        $("#improve").css("display", "block");
      }
      function closeImprove() {
        $("#improve").css("display", "none");
      }
      
    script(type='text/javascript').
      $(document).ready(function() {
        var matrix = runTest();

        var e = {};
        var grade = evaluateMatrix(matrix, e);

        $("#useragent").html(navigator.userAgent);
        var score = toScore(grade);
        ga('set', 'metric1', score);
        ga('set', 'dimension1', score);
 
        if(!(e['howto'] === undefined)) {
          $("#howto").html(e['howto']);
        }

        var steps = [
          function() { $("#tMobile").addClass(matrix['isMobile'] ? "checked" : "unchecked"); },
          function() { $("#tMSE").addClass(matrix['supportsMSE'] ? "checked" : "unchecked"); },
          function() { $("#tEME").addClass(matrix['supportsEME'] ? "checked" : "unchecked"); },
          function() { $("#tFlash").addClass(matrix['supportsFlash'] ? "checked" : "unchecked"); },
          function() { $("#tNPAPI").addClass(matrix['supportsNPAPI'] ? "checked" : "unchecked"); },
          function() {
            $("#result").html(grade);
            $("#summary").html(e['summary']);
            $("#advanced").html(e['advanced']);
            $("#score").html(scoreToHtml(toScore(grade)));
            $("#score2").html(scoreToHtml(4));
            $("#comparebtn").css("display", "block");
            if(!(e['howto'] === undefined)) {
              $("#improvebtn").css("display", "block");
            }
            $("#cMobile").addClass(matrix['isMobile'] ? "checked select" : "unchecked"); 
            $("#cMSE").addClass(matrix['supportsMSE'] ? "checked select" : "unchecked");
            $("#cEME").addClass(matrix['supportsEME'] ? "checked select" : "unchecked");
            $("#cFlash").addClass(matrix['supportsFlash'] ? "checked select" : "unchecked");
            $("#cNPAPI").addClass(matrix['supportsNPAPI'] ? "checked select" : "unchecked");
          }
        ];

        var id = setInterval(anim, 200);
        var stepcounter = 0;
        function anim() {
          if (stepcounter > steps.length-1) {
            clearInterval(id);
          } else {
            steps[stepcounter++]();
          }
        }
      }); 
